html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  color: #757575;
  margin: 0 !important;
  background-color: #f3f3f3;
}

input {
	font-weight: 200 !important;
    font-size: 12px !important;
}

.modal-waiting {
	/*margin: 0 auto !important;*/
	margin: 200px;
}

.LoginContainer {
	background-color: #f3f3f3;
	width: 60%;
    margin: 0 auto;
	justify-content: center;
}

.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px 0;
}

.logo {
	font-size: 50px;
	margin-left: 30px;
	line-height: 119px;
	color: #5C6BC0;
	font-weight: 500;
}

.icon-logo {
	width: 122px;
    height: 100%;
    z-index: 10;
}


/*//Login in form container styles*/
.form {
	display: flex;
	flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.btn {
    margin: 20px 0 !important;
}

.login-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 0 0 0;
	width: 100%;
	margin: 0 auto;
}

.sign-up-link {
	display: inline;
	color: #5C6BC0;
}

.sign-up-link:hover {
	color: #3949AB;
}

.login-input {
	display: block;
	width: 100% !important;
}

.login-input div {
	font-size: 13px !important;
}
.login-input label {
	color: 13px #2196F3 !important;
}

.inline-element {
	display: inline;
}

.center-elements {
	margin: 0 auto
}

.google-icon {
	width: 70px;
	margin: 0 auto;
}

.google-icon:hover {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	transition: background 0.2s, color 0.2s;
	background: rgba(255,255,255,1);
	color: #64bb5d;
	border-radius: 40px
}

/*///photo cards*/

.photo-card {
	margin-bottom: 30px!important;
	width: 600px !important;
	border: 0 solid #000 !important;
    box-sizing: border-box !important;
}

/*.photo-container {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}*/

.photolist-container {
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
    padding-bottom: 70px;
}

.photo-container img {
	width: 100%;
}

.time-ago {
	color: #999 !important;
	font-weight: 400;
	padding-right: 5px !important;
}

.title-container {
	text-align: right !important;
    /*height: 64px;*/
    padding: 14px 20px;
    align-items: center;
}

.title-container div {
	padding-right: 0 !important;
}

/*nav bar in feed styles*/

.top-bar {
    margin-bottom: 40px;
}

.auto-complete {
    border-radius: 3px;
    color: #999;
    cursor: text;
    left: 0;
    padding: 7px;
    text-align: center !important;
    background: #fafafa !important;
    border: solid 1px #dbdbdb !important;
    height: 26px !important;
}

.auto-complete label {
    top: 9px !important;
    font-weight: 300;
    font-weight: 300 !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.298039) !important;
}

.auto-complete input {
    margin-top: 0px !important;
}

.auto-complete div hr {
    width: 0% !important;
}

.nav-text {
    color: #7986CB !important;
}

.nav-text div svg {
    fill: #7986CB !important;
}
/*add photo button styles*/

.add-btn-container {
	position: fixed;
    left: 0px;
    bottom: 26px;
    height: 30px;
    width: 100%;
    z-index: 1000;
}

.add-btn-container svg {
	    height: 48px !important;
}
svg.icon {
    fill: #7986CB !important;
}

/*expanded photo view styles*/

.photo-details-container {
	padding: 0 !important;
}

.photo-details {
	line-height: 40px;
    font-size: 18px;
	color: #757575;
	list-style-type: none;
	padding-left: 30px;
}

.photo-details li {
    font-weight: 300
}

.photo-details-title {
    font-weight: 400;
}

/*upload photo styles */

.form-container {
    width: 31%;
    margin: auto;
}

.photo-upload-container {
    width: 28%;
    margin: auto;
    background-color: white;
    height: 404px;
    margin-top: 40px;
}

.upload-btn-container {
    text-align: center;
    /*padding-top: 135px;*/
}

.btn button {
    background-color: #7986CB !important;
}

.slider-text-container {
  margin-top: 19px;
}

.form-slider div {
    margin-bottom: 9px !important;
}

.auto-complete-form, .select-field {
    width: 400px !important;
}

.form-btn {
    margin: 27px 0 !important;
    width: 100% !important;
}


/*new entry nav container */

.image-preview{
    width: 100px;
}
.tab-container div{
    background-color: #7986CB !important;
}

.tab-element div div {
    align-items: flex-start !important;
    padding-left: 5%;
}

/*overlay styles */

.overlay-bad {
    background: linear-gradient(to right, rgba(229,56,53,0.45) 0%, rgba(229,56,53,0.45) 100%);
}

.overlay-bad-unknown {
    background: linear-gradient(to right, rgba(229,56,53,0.45) 0%, rgba(255,255,255,0.45) 56%, rgba(255,255,255,0.34) 59%, rgba(255,255,255,0.34) 100%);
}

.overlay-good-unknown {
    background: linear-gradient(to right, rgba(67,160,72,0.45) 0%, rgba(255,255,255,0.45) 56%, rgba(255,255,255,0.34) 59%, rgba(255,255,255,0.34) 100%);
}

.overlay-unknown-bad {
    background: linear-gradient(to right, rgba(255,255,255,0.45) 18%, rgba(255,255,255,0.45) 35%, rgba(229,56,53,0.34) 100%);
}

.overlay-bad-good {
    background: linear-gradient(to right, rgba(229,56,53,0.45) 0%, rgba(67,160,72,0.45) 100%);
}

.overlay-good-bad {
    background: linear-gradient(to right, rgba(67,160,72,0.45) 0%, rgba(229,56,53,0.45) 100%);
}

.overlay-good {
    background: linear-gradient(to right, rgba(67,160,72,0.45) 0%, rgba(67,160,72,0.45) 100%);
}

.overlay {
    /*background: linear-gradient(to right, rgba(67,160,72,0.34) 0%, rgba(255,255,255,0.34) 63%, rgba(255,255,255,0.34) 100%);*/
    position: absolute;
    top: 1px;
    bottom: 30px;
    width: 100%;
    height: 99%;
    z-index: 10;
}

.overlay-unknown-good {
    background: linear-gradient(to right, rgba(255,255,255,0.34) 18%, rgba(255,255,255,0.34) 35%, rgba(67,160,72,0.34) 100%);
}


.fileInput {
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #efefef;
}

.imgPreview {
    text-align: center;
      margin: 0 auto !important;
      height: 200px;
      /*width: 443px;*/
      height: 78%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  color: rgba(0, 0, 0, 0.298039);
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.298039);;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  &:hover
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

/*profile image styles*/

.profile-image-svg {
     width: 150px !important;
     height: 150px !important;
     fill: #9FA8DA !important;
     margin: 0 auto !important;
     display: block !important;
}

.profile-image {
     border-radius: 50%;
}

.svg-container {
    align-items: inherit;
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

/*profile form styles*/

.profile-input {
    width: 100% !important;
}


/*nav styles */

.new-entry-nav {
    margin-bottom: 40px;
}
